footer{
    margin: 0px;
    background: #333333;
    color: #fff;
    border-radius: 3px;  /* свойство для тех кто его поддерживает */
  -moz-border-radius: 3px;  /* для firefox */
  -webkit-border-radius: 3px;  /* для Safari и Chrome */
}
.user-display{
    display: none;
}
.footer-quad{
    margin: 30px;
}
.footer-quad header h1{
    font-size: 22px;
}
.footer-quad ul,.footer-quad li{
    list-style: none;
    padding: 0px;
}
