
ul:before,
ul:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

ul:after {
    clear: both;
}

ul {
    *zoom: 1;
}

nav{
  list-style: none;
  background: #000; /* Old browsers */
  margin:auto ;
}
nav ul {
  list-style: none;
  background: #000; /* Old browsers */
  width: auto;
  margin: 2em auto;
  padding: 0px;
}

nav ul li {
    list-style: none;
	float: right;
	margin: 0;
    padding: 0px;
	position: relative;
}

nav ul li a {
    list-style: none;
	display: block;
	padding: 13px 15px;
	color: #fff !important;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .2s ease-in-out;
}

nav ul li a:hover,
nav ul li:hover > a {
  list-style: none;
	background: #fff;
	color: #000 !important;
}

nav ul li ul {
  list-style: none;
  margin: 0;
  position: absolute;
  background: #222;
  left: 10%;
  font-size: 13px;
  width:max-content;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  transition: all .1s ease;
}

nav ul ul li { 
  list-style: none;
  float: none; 
}
nav ul li:hover > ul { 
    opacity: 1; 
    visibility: visible; 
    left: 0; 
    max-height: 250px;
}
nav ul > li:hover > ul { 
    list-style: none;
    opacity: 1; 
    visibility: visible; 
    top: 100%; 
    left: 0; 
}
nav ul li > ul  ul {
    list-style: none;
    top: 0; 
    left: 90%; 
}
nav ul li > ul li:hover > ul { 
    list-style: none;
    left: 100%; 
}
@media screen and (device-width: 600px){
    
}