html {
    background-image: url("\\Media\\Default\\background\\background.jpg");
    padding: 15px;
    padding-bottom: 0px;
}

body {
    padding: 0px;
    background: rgba(0, 0, 0, 0.00);
  max-width: 1000px;
  min-width: 345px;
  margin:  auto;
  height: auto;
  border-radius:6px; 
-webkit-border-radius:6px; 
-moz-border-radius:5px; 
-khtml-border-radius:10px;
}
h1{
    margin: 0px;
    margin-top: 25px;
    margin-left: 10px;
    padding: 0px;
    font-family: 'Lobster', sans-serif;
}

#layout-header{
    padding-left: 20px;
    padding-right: 20px;
    
}
#layout-header a{
    color: #333333;
}
#content h1{
    color: #333333;
    margin-top: 10px;
}
#content .page-header{
    margin-bottom: 0px;
}
